.full-width {
    width: 100%;
    background-color: #fff;
}

.main-content-1320 {
    max-width: 1320px;
    min-width: 200px;
    width: 100%;
    /* border: 1px solid black; */
    margin: 0 auto;
}