@font-face {
    font-family: Poppins-Bold;
    src: url("../../Poppins/Poppins-Bold.ttf");
    /* 700 */
}
@font-face {
    font-family:Poppins-SemiBold;
    src: url("../../Poppins/Poppins-SemiBold.ttf");
    /* 600 */
}

@font-face {
    font-family: Poppins-Light;
    src: url("../../Poppins/Poppins-Light.ttf");
    /* 300 */
}
@font-face {
    font-family:Poppins-Medium ;
    src: url("../../Poppins/Poppins-Medium.ttf");
    /* 500 */
}
@font-face {
    font-family: Poppins-Regular;
    src: url("../../Poppins/Poppins-Regular.ttf");
    /* 400 */
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url("../../Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url("../../Montserrat/static/Montserrat-Bold.ttf");
    /* 700 */
}
@font-face {
    font-family: Montserrat-Medium;
    src: url("../../Montserrat/static/Montserrat-Medium.ttf");
    /* 500 */
}
@font-face {
    font-family: Montserrat-Light;
    src: url("../../Montserrat/static/Montserrat-Light.ttf");
    /* 300 */
}
@font-face {
    font-family:Montserrat-Regular ;
    src: url("../../Montserrat/static/Montserrat-Regular.ttf");
    /* 400 */
}
@font-face {
    font-family: Montserrat-ExtraBold;
    src: url("../../Montserrat/static/Montserrat-ExtraBold.ttf");
}






*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footer-main{
    width: 100%;
    background-color: black;
    /* height: 466px; */
}
.fimg{
   text-align: end;
   top: 115px;
   /* background-color: black; */
   position: relative;
   z-index: -2;
}
.under-1320{
    max-width: 1320px;
    min-width: 250px;
    width: 100%;
    /* border: 1px solid white; */
    margin: 0 auto;
}
/* height: 283px; */
.under-1026{
    max-width: 1026px;
    min-width: 250px;
    width: 100%;
    /* border: 1px solid white; */
    margin: 0 auto;
    /* height: 250px; */
}
.logoimg img{
    width: 105px;
    height: 85px;
}
.since{
    /* color: white; */
    text-align: center;
}
.since p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-family: Poppins-Regular;
    color: white;

}
.link {
    /* color: white; */
    padding: 30px 0;
}
.under-1026{
    color: white;
}
.link-flex{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.logoimg{
    padding: 53px 0 30px 0;
    text-align: center;
}
.f-link{
    padding: 0 0 47px 0;
    text-align: center;
    color: white;

}
li:hover{
    color: #E42326;
}
li{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.nav-link{
    text-decoration: none;
}
.footer-padding{
    padding: 100px 0 0 0;
}
.footer-link{
    text-decoration: none;
}
.devlopedby{
    text-decoration: none;
}

@media screen and (max-width:767px){
    .link-flex{ 
        gap: 20px;
        text-align: center;
     flex-direction: column;
    }
}