.full-width{
    /* display: flex; */
}


.tesmoniom-container{
    /* padding: 100px 0 0 0; */
}
.width-imgs{
    background-image: url("../../images/bimg.png");
    background-repeat: no-repeat;
    position: absolute;
    /* background-size: cover; */
    height: 438.54px;
    width: 439.64px;
    top: 175em;
    /* padding: 90px 0 0 0 ; */
}
.title{
    text-align: center;
}

.maintitle{
    
    font-family: Montserrat-Bold;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}
.tesmonion-main{
    
}
.tesmonion-main{
    text-align: center;
    /* padding: 50px 0 0 0; */
}
.testim-p{
    max-width: 603px;
    min-width: 250px;
    width: 100%;
    margin: 0 auto;
   
    
}

.slick-dots{
    position: relative;
}
.tesmoniam-p{
    font-family: Poppins-Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding: 15px 0 15px 0;
}
.alexander{
    font-family: Poppins-SemiBold;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 17px 0;


}
.slick-prev {
    left: -47px;
    top: 130px;
  }
  .slick-next {
    right: -25px !important;
    top: 130px;
}



.slick-dots {
    bottom: 10px; /* Adjust as needed */
}

.slick-dots li button:before {
    color: black;
    font-size: 12px; 
}
.tesmo-img{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.tesmonion-main{}


.slider-wrapper {
    max-width: 985px;
    margin: 0 auto;
    
}
.padding-dft{

}


@media screen and (max-width:1320px) {
    .width-imgs{
        display: none;
    }
}


@media screen and (max-width:1024px) {
    .arrow{
        display: none;
    }
.width-imgs{
display: none;

}
.maintitle{
    font-size: calc(30px + (47 - 30) * ((100vw - 767px) / (1024 - 767)));
    line-height: 24px;
}
}

@media screen and (max-width:767px){
    .tesmoniam-p{
        text-align: justify;
        /* padding: 0 10px; */
        padding: 15px 10px 0;
        font-size: 16px;
        line-height: 25px;
    } 
    .alexander{
        font-size: 16px;
    }
    .since p {
        font-size: 16px;
       
        line-height: 25px;
    }
    .maintitle{
        font-size: calc(20px + (30 - 20) * ((100vw - 280px) / (767 - 280)));
        line-height: 24px;
    }
}
