.vision-mission-container {
    display: flex;
    justify-content: space-between;
    /* padding: 100px 30px 0; */
    padding: 58px 30px 0;
    gap: 20px;
}

.vision-mission-card-height {
    height: 352px;
    /* / min-height: 352px; / */
    /* / max-height: 412px; / */
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.vision-mission-card {
    max-width: 653px;
    min-width: 200px;
    width: 100%;
    Height: 292px;
    border-radius: 10px;
    border: 1px solid #E42326;
    position: relative;
}

.vision-mission-card-img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-mission-card-img img {
    width: 126px;
    height: 126px;
}

.vision-mission-card-text {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: black;
    margin: 80px auto 15px;
    text-transform: uppercase;
}

.vision-mission-span-text {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
    max-width: 635px;
    min-width: 200px;
}

.mission {
    /* / padding-top: 50px; / */
}
.vision-height{
    /* / padding-top: 50px; / */
}
@media (max-width:1065px) and (min-width:1024px) {
    .vision-mission-card {
        height: 310px !important;
    }
}


@media (max-width:1024px) {
    .vision-height{
        padding-top: 60px;
    }
    .mission {
        padding-top: 50px;
    }
    .vision-mission-container {
        flex-direction: column;
        padding: 50px 30px 0;
        gap: 20px
    }
    .vision-mission-span-text {
        max-width: none;
        min-width: none;
    }

    .vision-mission-card {
        max-width: 1008px;
        min-width: 200px;
        width: 100%;
    }

    .vision-mission-span-text {
        max-width: none;
        font-size: 16px;
    }

}

@media (max-width:767px) {
    .vision-mission-container {
        padding: 50px 10px 0;
        gap: 20px;
    }

    .vision-mission-card {
        height: auto;
    }

    .vision-mission-span-text {
        font-size: 16px;
        padding: 0 10px 10px;
    }

    .vision-mission-card-text {
        margin: 65px auto 15px;
    }

    
}
@media (max-width:767px) and (min-width:568px) {
    .vision-mission-card-height {
        gap: 50px;
        height: 270px;
    }
}


@media(max-width:730px)  and (min-width:568px) {
    .vision-mission-card-height {
        height: 270px;
    }
}
/* @media(max-width:728px) {
    .vision-mission-card-height {
        height: 270px;
    }
} */
@media(max-width:728px) and (min-width:568px) {
    .vision-mission-card-height {
        height: 300px;
    }
}

@media (max-width:567px) {
    .vision-mission-card-height {
        height: 330px;
    }
    /* .mission {
        padding-top: 30px;
    }
    .vision-mission-container {
        padding: 20px 10px 0;

    } */
}

@media (max-width:460px) {
    .vision-mission-card-height {
        height: 360px;
    }
}

@media (max-width:400px) {
    .vision-mission-card-height {
        height: 390px;
    }
    .vision-mission-container{
        padding: 20px 10px 0;
    }
    .mission {
        padding-top: 30px;
    }
}

@media (max-width:350px) {
    .vision-mission-card-height {
        height: 420px;
    }
}

@media (max-width:327px) {
    .vision-mission-card-height {
        height: 450px;
    }
}

@media (max-width:297px) {
    .vision-mission-card-height {
        height: 480px;
    }
}
@media (max-width:268px) {
    .vision-mission-card-height {
        height: 480px;
    }
}
