.vision-mission-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);

    justify-content: space-between;
    padding: 100px 30px 0;
    gap: 20px;
}

.vision-mission-card-height {
    /* height: 200px; */
    height: 352px;
    /* margin: 90px 0 0; */
    background-color: #fff;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.vision-mission-card {
    max-width: 653px;
    min-width: 200px;
    width: 100%;
    Height: 292px;
    border-radius: 10px;
    border: 1px solid #E42326;
    position: relative;
}

.vision-mission-card-img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.vision-mission-card-img img {
    width: 126px;
    height: 126px;
}

.vision-mission-card-text {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: black;
    margin: 80px auto 15px;
}

.vision-mission-span-text {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
}


@media (max-width:1024px){
    .vision-mission-container{
        grid-template-columns: repeat(1, 1fr);

        padding: 50px 30px 0;
        gap:20px
    }
    .vision-mission-card {
        max-width: 1008px;
        min-width: 200px;
        width: 100%;
    }
}
@media (max-width:767px){
    .vision-mission-container{
        gap: 0;
        padding: 0 10px;
    }
    .vision-mission-card {
        height: auto;
    }
    .vision-mission-span-text {
        font-size: 16px;
        padding: 0 10px 10px;
    }
    .vision-mission-card-text {
        margin: 65px auto 15px;
    }
    .vision-mission-card-height {
        padding: 50px 0 0;
        gap: 50px;
        height: 322px;
    }
}
@media (max-width:663px){
    .vision-mission-card-height {
        height: 355px;
    }
}

@media (max-width:485px){
    .vision-mission-card-height {
        height: 385px;
    }
}
@media (max-width:413px){
    .vision-mission-card-height {
        height: 415px;
    }
}
@media (max-width:365px){
    .vision-mission-card-height {
        height: 445px;
    }
}
@media (max-width:317px){
    .vision-mission-card-height {
        height: 475px;
    }
}
@media (max-width:286px){
    .vision-mission-card-height {
        height: 505px;
    }
}


.container{
    border: 1px solid red;
}

.our-mission{
    max-width: 653px;
    min-width: 250px;
    width: 100;
}