.about-background {
    background-image: url(../../images/aboutBg.png);
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    width: 240.7px;
    /* height: 350px; */
    height: 620px;
    /* top: 865px; */
    top: 840px;
}

.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding: 20px; */
    padding: 100px 30px 0;
    gap: 200px;
}

.about-img-container {
    /* max-width: 526px; */
    max-width: 492px;
    min-width: 200px;
    width: 100%;
    /* padding: 60px 0 0; */
    padding: 50px 0 0;

}

.about-img-background {
    position: relative;
    /* max-width: 450px; */
    max-width: 476px;
    min-width: 200px;
    width: 100%;
    /* Height: 498px; */
    height: 533px;
    background-color: #E42326;
    border-bottom-left-radius: 139px;
}

.about-img {
    position: absolute;
    /* padding:10px 20px; */
    max-width: 491px;
    min-width: 200px;
    /* width: 100%; */
    Height: 548px;
    bottom: 35px;
    left: 35px;
    object-fit: cover;
    border-bottom-left-radius: 139px;
}

.about-txt {
    max-width: 582px;
    min-width: 200px;
    width: 100%;
    gap: 35px;
}

.about-title {
    line-height: 60.59px;
    text-align: left;
    /* padding: 100px 0 50px 0; */
}

.about-description {
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    font-family: Poppins-Regular;
    padding-top: 35px;
}

.btn-about {
    padding: 35px 0 0;
}

.about-title-responsive {
    display: none;
}

.about-dotted-img {
    align-content: left;
}

.animate .about-title-responsive,
.animate .about-img-container,
.animate .about-txt {
    animation-play-state: running !important;
}

.about-title-responsive,
.about-img-container,
.about-txt {
    animation-play-state: paused;
}






@media (max-width: 1320px) {
    .about-background {
        background-image: none;
    }
}

@media (max-width: 1230px) {
    .about-title {
        font-size: 38px !important;
    }
    .maintitle {
        font-size: 38px;
    }
    .about-img-background {
        width: 117%;
    }
}

@media (max-width: 1024px) {
    .about-us {
        flex-direction: column;
        padding: 0 30px 0;
        /* gap: 20px; */
        gap: 0;
    }

    .about-img-container {
        max-width: 984px;
        min-width: 200px;
        width: 100%;
    }

    .about-img-background {
        max-width: 959px;
        min-width: 200px;
        width: 96%;
        height: 461px;
        /* border-bottom-left-radius: 165px; */
    }

    .about-img {
        max-width: 959px;
        min-width: 200px;
        width: 100%;
        height: 476px;
        /* padding: 0; */
        /* border-bottom-left-radius: 165px;
        bottom: 35px;
        left: 35px; */
    }

    .about-txt {
        max-width: none;
    }

    .about-title {
        display: none;
    }

    .about-title-responsive {
        display: block;
        font-size: 30px;
        font-family: Poppins-Bold;
        line-height: 60.59px;
        padding: 50px 0 30px;
    }

    .about-title-responsive,
    .about-img-container,
    .about-txt {
        animation-play-state: running !important;
    }
    .about-description {
        padding-top: 30px;
    }
}

@media (max-width: 767px) {
    .about-us {
        padding: 0 10px 0;
    }
    .about-img-background {
        width: 95%;
        /* Height:194.63px;
        border-bottom-left-radius: 51.24px; */
    }

    .about-img {
        bottom: 12px;
        left: 12px;
        /* Width:248px */
        /* Height:201.43px;
        border-bottom-left-radius: 51.24px; */
    }

    .btn-about {
        padding: 35px 0 0;
    }
    .about-img-container {
        padding: 28px 0 0;
    }
    .about-description {
        padding-top: 20px;
    }
    .about-title-responsive {
        display: block;
        font-size: 20px;
        font-family: Poppins-Bold;
        line-height: 24.38px;
        padding: 50px 0 20px;

        /* padding-bottom: 30px; */
    }

    .about-description {
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 50px;
    }
}

@media (max-width: 500px) {
.about-img-background {
    width: 95%;
    Height:194.63px;
    border-bottom-left-radius: 51.24px;
}

.about-img {
    bottom: 15px;
    left: 15px;
    /* Width:248px */
    Height:201.43px;
    border-bottom-left-radius: 51.24px;
}
}